:host {
  display: inline-block;
  border: 1px solid black;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}
